* {
  font-family: Montserrat;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
}

.logo {
  display: flex;
  font-size: 10px;
  align-items: center;
  gap: 9px;
  color: #4793ff;
  cursor: pointer;
}
.select {
  display: flex;
  gap: 30px;
}
.icon {
  width: 30px;
  height: 30px;
  display: flex;
  color: #4793ff;
}
.select select {
  background-color: #050505;
  color: #ffffffc7;
  border-radius: 8px;
  height: 30px;
  width: 150px;
  text-align: center;
  cursor: pointer;
}

.icon {
  cursor: pointer;
}

.darkMode {
  background-color: #060606e2;
  color: #ffffff;

  select {
    background-color: #fdfbfbfe;
    color: #040404;
  }

  .icon {
    color: #f68103;
  }
}
